.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.description {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 0.85rem;
  padding: 1rem;
}

.h2 {
  font-size: 1.2rem;
  font-weight: bold;
}
.card {
  padding: 1rem;
  border-radius: 25px;
  background: #ffff;
  border: 1px solid #ccc;
  max-width: 30ch;
  text-align: center;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 4rem 0;
}

.logo {
  position: relative;
  border-radius: 15px;
  align-self: center;
  margin-bottom: 1.5rem;
}
